// $page-bg: #fafafa;
// $card-bg: white;
// $primary: #a288a6;
// $accent: #2a9d8f;
// $linkcolor: #502274;

$page-bg: #fcfcfc;
$light: #e5d4ed;
$dark: #2d3748;
$text-color: #32323f;
// $primary: #6369d1;
$primary: dodgerblue;
$accent: #f26430;
$linkcolor: #282fb3;