@import 'variables';
// font-family: 'Carter One', cursive;
body{
    background-color: $page-bg;
    color: $text-color;
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5{
    color: $dark;
    font-family: 'Carter One', cursive;
    // font-weight: 700;
}
.navlinks, .accountlinks, .loginlinks{
    font-size: 1.15rem;
}

// form inputs
.formgroup label, .formgroup input, .formgroup textarea{
    display: block;
    width: 100%;
}
.form-input{
    // border: 1px solid #ccc;
    box-shadow: 0px 0px 3px #aaa;
    font-size: 1rem;
    line-height: 1.5;
    padding: 6px;
    border-radius: 5px;
    background-color: #f6f6f6;

    &:focus{
        outline-color: $primary;
    }

    &::placeholder{
        color: #999;
    }
}
.btn-app{
    border-radius: 5px;
    padding: 6px 12px;

    @media (max-width: 480px) {
        padding: 4px 8px;
    }
}
.btn-login{
    background-color: $primary;
    color: white;
    width: 100%;
    text-align: center;
    border: 1px solid $primary;

    &:hover{
        transition: all 0.35s ease-in-out;
        // color: $primary;
        border-color: $linkcolor;
        background: $linkcolor;
    }
}
.btn-signup{
    color: $primary;
    &:hover{
        color: $accent;
    }
}
.btn-contactform{
    background-color: $accent;
    color: white;
    width: 100%;
    text-align: center;
    border: 1px solid $primary;

    &:hover{
        transition: all 0.35s ease-in-out;
        // color: $primary;
        border-color: $linkcolor;
        background: $linkcolor;
    }
}